@font-face {
    font-family: vcr;
    src: url(../fonts/VCR_OSD_MONO_1.001.ttf);
}

h1, h2, h3, h4, h5 {
    font-family: vcr;
    color: white;
}

body {
    background-color: #2A7CAC;
}

.tvBg {
    height: 100vh;
    min-height: 100%;
    max-height:100%;
    width: 100vw;
    min-width: 100%;
    max-width: 100%;
    background: url('../images/tvBg.png');
    background-size: cover;
    background-position: center;
}

.tv-card{
    position: relative;
    height: 500;
    top: 160px;
    width: 585px;
    left: -100px;
}

.card ,.cardHeader {
    background: transparent;
}

.jumbotron {
    display: none;
}

.card-header {
    display: none;
}