@font-face {
    font-family: vcr;
    src: url(../fonts/VCR_OSD_MONO_1.001.ttf);
}


body {
    background-color: #2A7CAC;
}

.tvBg {
    height: 100vh;
    min-height: 100%;
    max-height:100%;
    width: 100vw;
    min-width: 100%;
    max-width: 100%;
    background: url('../images/tvBg.png');
    background-size: cover;
    background-position: center;
}


.card ,.cardHeader {
    background: transparent;
}

.jumbotron {
    display: none;
}

.card-header {
    display: none;
}

.startButton {
    font-family: vcr;
    margin-top: 15px;
}

h1, h2, h3, h4, h5 {
    font-family: vcr;
    color: white;
}

.tv-card{
    padding-top: 20px;
    position: relative;
    height: 500;
    top: 160px;
    width: 600px;
    left: -100px;
    border: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .tv-card{
        position: relative;
        height: 500;
        top: 160px;
        width: 423px;
        left: -15px;
    }
    .tvBg {
        background: none !important;
    }

    #questionCard {
        background: none !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .tv-card{
        padding-top: 20px;
        position: relative;
        height: 500;
        top: 124px;
        width: 600px;
        left: -55px;
    }
    .tvBg {
        background-position-x: -325px;
    }

    h3 {
        font-size: 22px;
    }

    h2 {
        font-size: 32px;
    }

}

@media only screen and (min-width: 768px) {
    .tv-card{
        padding-top: 20px;
        position: relative;
        height: 500;
        top: 124px;
        width: 600px;
        left: -90px;
    }

    .tvBg {
        background-position: center;
    }
} 

@media only screen and (min-width: 1440px) {
    .tv-card{
        position: relative;
        height: 500;
        top: 150px;
        width: 600px;
        left: -100px;
    }

    #questionCard {
        padding-top: 60px;
        position: relative;
        top: -25px;
    }
} 
